In [130]:
import pandas as pd
import numpy as np
from pathlib import Path

In [131]:
# Load the layoff dataset.
file_path = "./Resources/layoffs.csv"
layoff_df = pd.read_csv(file_path, index_col=0)
layoff_df.head()

,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
company,,,,,,,,
Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,Post-IPO,United States,409.0
ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,Series C,India,120.0
Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Post-IPO,Canada,NaN
Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Seed,Germany,NaN
Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,Unknown,India,382.0

In [132]:
#Drop columns that are useless
lay = layoff_df.drop(columns=['funds_raised', 'stage'])
lay.head()

,location,industry,total_laid_off,percentage_laid_off,date,country
company,,,,,,
Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,United States
ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,India
Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Canada
Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Germany
Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,India

In [133]:
#Check dtypes
lay.dtypes

location                object
industry                object
total_laid_off         float64
percentage_laid_off    float64
date                    object
country                 object
dtype: object

In [134]:
# Convert dates to datetime

lay['date']= pd.to_datetime(lay['date'])
print(lay.dtypes)

location                       object
industry                       object
total_laid_off                float64
percentage_laid_off           float64
date                   datetime64[ns]
country                        object
dtype: object

In [135]:
# Change data to check for 2nd Quarter
lay = lay[(lay['date'] > "2022-03-31")&(lay['date'] < "2022-07-01")]
lay.head()

,location,industry,total_laid_off,percentage_laid_off,date,country
company,,,,,,
Enjoy,SF Bay Area,Retail,400.0,0.18,2022-06-30,United States
Crejo.Fun,Bengaluru,Education,170.0,1.00,2022-06-30,India
Stash Financial,New York City,Finance,40.0,0.08,2022-06-30,United States
Nate,New York City,Retail,30.0,0.20,2022-06-30,United States
Snyk,Boston,Security,30.0,NaN,2022-06-30,United States

In [136]:
#Drop the null rows and keep other table
lay_drop = lay.dropna()
lay_drop.head()

,location,industry,total_laid_off,percentage_laid_off,date,country
company,,,,,,
Enjoy,SF Bay Area,Retail,400.0,0.18,2022-06-30,United States
Crejo.Fun,Bengaluru,Education,170.0,1.00,2022-06-30,India
Stash Financial,New York City,Finance,40.0,0.08,2022-06-30,United States
Nate,New York City,Retail,30.0,0.20,2022-06-30,United States
Stream,Boulder,Product,20.0,0.12,2022-06-30,United States

In [137]:
#Count with Nan values.
lay.count()

location               303
industry               303
total_laid_off         229
percentage_laid_off    217
date                   303
country                303
dtype: int64

In [138]:
#Count with Nan Dropped
lay_drop.count()

location               176
industry               176
total_laid_off         176
percentage_laid_off    176
date                   176
country                176
dtype: int64

In [140]:
#Create Csv with Nan
lay.to_csv("lay.csv", encoding="utf-8",index = False)

In [141]:
##Create Csv clean